.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 44px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0 14px;
  font-family: "Do Hyeon", sans-serif;
  font-size: 14px;
  max-width: 1440px;
  word-break: keep-all;
}

a {
  text-decoration-line: none;
  text-decoration: none;
  color: black;
}

.sticky {
  padding-top: 10px;
  position: sticky;
  top: 0;
  background-color: rgb(60, 72, 107);
  z-index: 100;
  max-width: 1440px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

#logo {
  font-size: 70px;
  margin: 5px 0px;
  cursor: pointer;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.icon {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  align-items: center;
  color: rgb(249, 217, 73);
  text-decoration: none;
  transform: scale(1.8);
}

.icon:hover {
  font-weight: 900;
}

footer {
  border-top: 1px solid rgb(230, 230, 230);
  margin-top: 30px;
  color: rgb(184, 184, 184);
  text-align: center;
  margin: 15px 0px;
  font-size: 12px;
  line-height: 150%;
}

article > img {
  width: 100%;
  height: auto;
}
