/* main */

article {
  width: 100%;
}

.button-add-cart {
  color: rgb(244, 80, 80);
}

.brand-logo {
  grid-area: brand-logo;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}

#menu > .icon {
  color: rgb(255, 255, 255);
}

.section-title {
  background-color: rgb(244, 80, 80);
  color: rgb(255, 255, 255);
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 14px;
  font-size: 40px;
}

.item-thumbnail:hover {
  transform: scale(1.05);
  border-bottom: none;
  transition: 0.5s;
  transition-timing-function: ease;
  cursor: pointer;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: item-info;
}

.item-name {
  margin: 10px 10px 5px 10px;
  font-size: 25px;
}

a:hover {
  color: rgb(244, 80, 80);
  transition: 0.5s;
}

.price-info {
  margin-bottom: 10px;
}

.item-price {
  display: inline;
  margin: 0px 0px 10px 10px;
  text-decoration: 1px solid rgb(60, 72, 107) line-through;
  font-size: 25px;
}

.saled-price {
  display: inline;
  color: rgb(244, 80, 80);
  font-size: 25px;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure {
  margin: 0;
}

@media all and (max-width: 800px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    text-align: center;
  }

  #logo {
    font-size: 20px;
  }
  ul {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
  body,
  main {
    margin: 0;
  }

  #menu > .icon,
  .icon {
    font-size: 20px;
  }

  .item-thumbnail:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

@media all and (max-width: 426px) {
  #menu > .icon,
  .icon {
    font-size: 20px;
  }

  .item-thumbnail:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
