/* 전체 테이블 스타일 */
#cart-table {
  width: 100%;
  border-collapse: collapse;
  word-break: keep-all;
  margin: 20px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: rgb(254, 231, 93);
  text-align: center;
}

/* 테이블 헤더 스타일 */
#cart-table thead tr {
  background-color: rgb(254, 231, 93);
  color: rgb(0, 0, 0);
}

/* 테이블 헤더 셀 스타일 */
#cart-table th {
  background-color: rgb(30, 71, 241);
  color: rgb(255, 255, 255);
}

#cart-table td {
  max-width: 300px;
  height: 300px;
}

#cart-table th,
#cart-table td {
  padding: 12px 15px;
  font-size: 30px;
}

/* 테이블 바디 행 스타일 */
#cart-table tbody tr {
  border-bottom: 1px solid rgb(30, 71, 241);
}

#cart-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(254, 231, 93);
}

/* 버튼 스타일 */
#cart-table button {
  padding: 5px 10px;
  background-color: rgb(255, 91, 203);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#cart-table button:hover {
  background-color: rgba(255, 91, 203, 0.7);
}

#summary {
  font-size: 50px;
  text-align: right;
}
